<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Об авторе</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <h3>Меня зовут Смирнов Александр. </h3>
<p>Я студент 1 курса магистратуры факультета ИВТ Чувашского государственного университета им. И.Н.Ульянова.</p>
    <img src="{% static "images/diplom.jpg" %}" alt="На вручении диплома об окончании бакалавриата, 2019" >
</body>
</html>

