<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Группа КТМ-01-19</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body class="container">
	<h1><a href="login">Войти</a></h1>
	<h1><a href="register">Регистрация</a></h1>
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя студента</label><br>
            <input type="text" name="name" required />
        </p>
        <p>
            <label>Введите возраст</label><br>
            <input type="number" name="age" required />
        </p>
        <input type="submit" value="Добавить" >
    </form>
    {% if people.count > 0 %}
    <h2>Список студентов группы КТМ-01-19</h2>
    <table>
        <thead><th>Id</th><th>Имя</th><th>Возраст</th><th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h2><a href="about">Об авторе</a></h2>
</body>
</html>